html {
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

body {
  margin: 0rem;
}

.flex {
  display: flex;
}

/*borders for identifying objects
div, nav, header .container .container2 {
  border: 1px solid gray;
}
*/

.container {
  max-width: 960px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: auto;
}

div {
  display: flex;
  align-items: center;
}

.container div {
  width: 50%;
}

.container div span {
  color: white;
}

div img {
  margin: 0rem 1rem 0rem 2rem;
}

header .container {
  background-color: cadetblue;
}

header {
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

nav.container {
  margin-top: 1rem;
}

ul {
  margin: 0rem;
  list-style: none;
  display: inline-block;
}

.container ul {
  align-items: center;
  line-height: 1rem;
  margin: 0rem;
}

.container .menu {
  height: 1.5rem;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  width: 50%;
}

.menu li, .small-menu li{
  display: inline-block;
  padding: 0rem 2rem 0rem 0rem;
}

.menu a, .small-menu a {
  text-decoration: none;
  color: white;
}

header img {
  height: 1.5rem;
  display: inline-block;
}

.container2 {
  width: 100%;
  max-width: 55.3333333rem;
  align-items: center;
  height: 27rem;
}

header .flex {
  justify-content: flex-end;
}

.main-banner {
  background: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-bottom: 10.5rem;
}

/*trying one more time*/

.main-banner h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.container3 {
  width: 100%;
  margin: 3rem 0rem;
  justify-content: center;
}

.all-services {
  width: 100%;
  max-width: 960px;
  margin: auto;
  justify-content: center;
}

.service {
  margin: 0px 3rem;
  justify-content: space-between;;
  flex-direction: column;
  height: 8rem;
}

.service.paper {
  width: 5rem;
  text-align: center;
}

.service.paper img {
  width: 3.5rem;
}

.service.ruler img, .service.truck img {
  width: 5rem;
}

.service img {
  width: 95%;
  margin: 0rem;
}

.service span {
  text-align: center;
}


.info {
  justify-content: center;
  width: 100%;
  max-width: 960px;
  align-items: flex-start;
}

.info-box {
  flex-direction: column;
  width: 35%;
  text-align: left;
  align-items: baseline;
  margin: 0rem 2.5%;
}

.info-box h5 {
  color: white;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  width: 10rem;
  padding: .5rem 0rem .5rem 1.25rem;
  margin-bottom: 1rem;
}

.info-box p {
  font-size: 1rem;
  line-height: 1.4;
}

footer .container {
  margin-top: 5rem;
  background-color: azure;
  height: 9.5rem;
  justify-content: flex-start;
}

footer img {
  height: 1.5rem;
  margin: 0rem 1rem 0rem 4rem;
}

footer span {
  text-align: left;
}

/*trying one more time*/
@media only screen and (max-width: 970px) {
  nav.container {
    margin-top: 0rem;
    margin: 0rem 0rem;
    width: 100%;
  }

  header {
    background-image: url(../images/glasses-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 30%;
    height: 22rem;
  }

  .main-banner {
    padding: .75rem 4rem;
    margin: 5rem 2rem 11.75rem 0rem;
  }

  .main-banner h1 {
    font-size: 1.33rem;
  }

  .menu li {
    padding: 0rem 1rem 0rem 0rem;
    flex-shrink: 1;
    flex-basis: auto;
  }
}

@media only screen and (min-width: 701px) {
  .small-menu {
    display: none;
  }

  nav  {
    padding: .75rem 0rem;
  }

}

@media only screen and (max-width: 700px) {
  .menu {
    display: none;
    width: 0%;
  }

  .menu ul {
    display: none;
    width: 0%;
  }

  .container .menu {
    width: 0rem;
  }

  .container .small-menu {
    height: 1.5rem;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    width: 25%;
  }

  nav  {
    padding: .75rem 0rem;
  }

  .container div {
    width: 75%;
  }

  .all-services {
    justify-content: center;
  }

  .service {
    margin: 0rem 2rem;
  }
}

@media only screen and (max-width: 560px) {
  .info {
    flex-direction: column;
  }

  .info-box {
    width: 100%;
    margin: 0rem 0rem 4rem 0rem;
  }

  .info-box h5 {
    width: 100%;
    text-align: center;
    padding: .5rem 0rem;
  }

  .info-box p {
    padding: .25rem;
  }
}

@media only screen and (max-width: 500px) {
  .menu ul {
    display: none;
  }

  .small-menu {
    display: flex;
  }

  .container div span {
    display: none;
  }

  nav  {
    padding: 1rem 0rem;
  }


  header {
    background-image: url(../images/glasses-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
    height: 17rem;
  }

  .main-banner {
    width: 100%;
    padding: 1rem 0rem;
    margin: 9rem 0rem 2rem 0rem;
    justify-content: center;
    line-height: 1rem;
  }

  .main-banner h1 {
    font-size: 1rem;
    line-height: 1rem;
  }

  .all-services {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .service {
    margin: 0rem 6rem 1.54rem 6rem;
  }

  .container3 {
    margin-top: 3.77rem;
  }

  .service span {
    font-size: .77rem;
    line-height: 1rem;
  }

  footer .container {
    justify-content: center;
    padding: 0rem;
    margin: 0rem;
  }

  footer span {
    display: none;
  }

  footer img {
    padding: 0rem;
    margin: 0rem;
  }
}
